<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Administrador</li>
        <li>
          <a href="index-adm.html" class="waves-effect">
            <lord-icon
              src="assets/json/467-dashboard-gauge-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="procedimientos.html" class="waves-effect">
            <lord-icon
              src="assets/json/56-document-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Procedimientos</span>
          </a>
        </li>
        <li>
          <a href="expedientes.html" class=" waves-effect">
            <lord-icon
              src="assets/json/120-folder-open-morph-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Expedientes</span>
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <lord-icon
              src="assets/json/268-avatar-man-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Usuarios</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="usuarios.html">
                <lord-icon
                  src="assets/json/268-avatar-man-outline.json"
                  trigger="loop-on-hover"
                  target="a"
                  colors="primary:#707070;,secondary:#707070;"
                  style="width:30px; height:30px;">
                </lord-icon>
                Usuarios
              </a>
            </li>
            <li>
              <a href="perfil-sociedad.html">
                <lord-icon
                  src="assets/json/274-male-and-two-female-outline.json"
                  trigger="loop-on-hover"
                  target="a"
                  colors="primary:#707070;,secondary:#707070;"
                  style="width:30px; height:30px;">
                </lord-icon>
                Perfil Sociedad
              </a>
            </li>
            <li>
              <a href="perfil-autonomo.html">
                <lord-icon
                  src="assets/json/284-avatar-man-approved-outline.json"
                  trigger="loop-on-hover"
                  target="a"
                  colors="primary:#707070;,secondary:#707070;"
                  style="width:30px; height:30px;">
                </lord-icon>
                Perfil Autónomo
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <lord-icon
              src="assets/json/271-three-male-avatars-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Colaboradores</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="colaboradores.html">
                <lord-icon
                  src="assets/json/278-avatar-man-plus-outline.json"
                  trigger="loop-on-hover"
                  target="a"
                  colors="primary:#707070;,secondary:#707070;"
                  style="width:30px; height:30px;">
                </lord-icon>
                Colaboradores
              </a>
            </li>
            <li>
              <a href="perfil-colab-sociedad.html">
                <lord-icon
                  src="assets/json/274-male-and-two-female-outline.json"
                  trigger="loop-on-hover"
                  target="a"
                  colors="primary:#707070;,secondary:#707070;"
                  style="width:30px; height:30px;">
                </lord-icon>
                Perfil Sociedad
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="rrhh.html" class=" waves-effect">
            <lord-icon
              src="assets/json/456-handshake-deal-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>RRHH</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <lord-icon
              src="assets/json/161-growth-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Estadísticas</span>
          </a>
        </li>
        <li>
          <a href="facturacion.html" class=" waves-effect">
            <lord-icon
              src="assets/json/755-invoice-receipt-validating-ticket-outline-edited.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Facturación</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <lord-icon
              src="assets/json/478-computer-display-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#707070;,secondary:#707070;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Administración web</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->

<!-- Icon -->
<script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>