<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
    <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="#" class="waves-effect">
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Subvenciones</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Mis trámites</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Abonares</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Facturas</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Mis contratos</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Mis Minimis</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Noticias</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->