<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
    <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="/" class="waves-effect">
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Procedimientos</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Expedientes</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Usuarios</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Colaboradores</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>RRHH</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Estadísticas</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Facturación</span>
          </a>
        </li>
        <li>
          <a href="#" class="waves-effect">
            <span>Administración web</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->