<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Administrador</li>
        <li>
          <a href="index-adm.html" class="waves-effect">
            <i class="mdi mdi-speedometer"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <i class="mdi mdi-email-variant"></i>
            <span>Procedimientos</span>
          </a>
        </li>
        <li>
          <a href="expedientes.html" class=" waves-effect">
            <i class="mdi mdi-calendar"></i>
            <span>Expedientes</span>
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="mdi mdi-email-variant"></i>
            <span>Usuarios</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="usuarios.html">Usuarios</a></li>
            <li><a href="perfil-sociedad.html">Perfil Sociedad</a></li>
            <li><a href="perfil-autonomo.html">Perfil Autónomo</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="mdi mdi-email-variant"></i>
            <span>Colaboradores</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="colaboradores.html">Colaboradores</a></li>
            <li><a href="perfil-colab-sociedad.html">Perfil Sociedad</a></li>
          </ul>
        </li>
        <li>
          <a href="rrhh.html" class=" waves-effect">
            <i class="mdi mdi-calendar"></i>
            <span>RRHH</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <i class="mdi mdi-calendar"></i>
            <span>Estadísticas</span>
          </a>
        </li>
        <li>
          <a href="facturacion.html" class=" waves-effect">
            <i class="mdi mdi-calendar"></i>
            <span>Facturación</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <i class="mdi mdi-calendar"></i>
            <span>Administración web</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
