<style>
  .vertical-menu {
    width: 258px !important;
  }
  .main-content {
    margin-left: 258px;
  }
</style>
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Cliente</li>
        <li>
          <a href="index-cliente.html" class="waves-effect">
            <lord-icon
              src="assets/json/467-dashboard-gauge-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="/" class=" waves-effect">
            <lord-icon
              src="assets/json/298-coins-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Subvenciones</span>
          </a>
        </li>
        <li>
          <a href="procedimientos-disponibles.html" class=" waves-effect">
            <lord-icon
              src="assets/json/80-document-DOC-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Procedimientos disponibles</span>
          </a>
        </li>
        <li>
          <a href="mis-procedimientos.html" class=" waves-effect">
            <lord-icon
              src="assets/json/80-document-DOC-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Mis procedimientos</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/132-folder-open-arrow-down-morph-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Mis trámites</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/413-money-bag-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Abonares</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/755-invoice-receipt-validating-ticket-outline-edited.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Facturas</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/80-document-DOC-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Mis contratos</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/483-building-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Mis minimis</span>
          </a>
        </li>
        <li>
          <a href="#" class=" waves-effect">
            <lord-icon
              src="assets/json/411-news-newspaper-outline.json"
              trigger="loop-on-hover"
              target="a"
              colors="primary:#34bad1;,secondary:#34bad1;"
              style="width:30px; height:30px;">
            </lord-icon>
            <span>Noticias</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->

<!-- Icon -->
<script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
